version: '2'
services:
  ubuntu-16-nginx-1.10.0-php-7.0:
    build: .
    image: ubuntu-16-nginx-1.10.0-php-7.0
    ports:
      - "8080:8080"
    user: "100000"
    environment:
      SUPERVISORD_LOGLEVEL: debug
